.button {
  grid-area: button;

  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;

  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);

  box-shadow: 5px 5px 10px 0px #00000040;


}

.button__text {
  margin: 0;
  font-family: Inter;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}