.header {
  display: flex;
  justify-content: center;
  padding: 34px 0 90px;
}

.header__logo {
  width: 255px;
  height: 70px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 0 90px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 20px 0 50px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
  }
}
