.intro {
  max-width: 830px;
  margin-left: 148px;
  padding-bottom: 92px;
}

.intro__title,
.intro__quote,
.intro__quote-author,
.intro__text {
  font-weight: 400;
  letter-spacing: 0%;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  margin-bottom: 40px;
}

.intro__quote {
  margin-bottom: 10px;
}

.intro__quote-author {
  text-align: right;
  margin-bottom: 32px;
}

.intro__text {
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 88px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .intro__quote {
    margin-bottom: 0;
  }

  @media screen and (max-width: 544px) {
    .intro {
      max-width: 288px;
      padding-bottom: 64px;
    }

    .intro__title {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 40px;
    }

    .intro__quote {
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}
