.lead {
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 92px;
}

.lead__image {
  filter: grayscale(1);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.lead__title,
.lead__subtitle {
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.lead__title {
  max-width: 73%;
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 32px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 768px;
    padding-bottom: 90px;
  }

  .lead__title {
    margin-bottom: 25px;
    max-width: 69%;
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    max-width: 320px;
    padding-bottom: 64px;
  }
  .lead__title {
    max-width: 71%;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
