.places {
  max-width: 987px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 80px 0;
}

.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto min-content 1fr;
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image paragraph"
    "button paragraph";
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
  }

  .places__place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
  }

  .places__place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 50px 0;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "button";
  }
}