.place__title,
.place__url-heading,
.place__artist,
.place__paragraph,
.button__text {
  margin: 0;
  font-family: Inter;

}

.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;

}

.place__image {
  grid-area: image;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.place__image:hover {
  filter: brightness(50%);

}

.place__website {
  grid-area: website;
  align-content: end;

}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: start;
  text-justify: initial;
  padding-bottom: 8px;
  color: #AAAAAA;
}

.place__artist {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
}

.place__paragraph {
  grid-area: paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0;
}

.place__link {
  grid-area: button;
}

@media screen and (max-width: 1024px) {

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__image {
    width: 340px;
  }

}

@media screen and (max-width: 544px) {

  .place__title {
    font-size: 32px;
    line-height: 35px;
  }

  .place__image {
    width: 320px;
  }
}